<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
    <div class="cuadrado">
        <div class="barra">
          <div class="boton1">
            <a href="/index.html"><img id="icon" src="/Storage/img/rocket.svg"><br>Overview</a>
          </div>
          <div class="boton2">
            <a href="/view/history.html"><img id="icon" src="/Storage/img/history.svg"><br>History</a>
          </div>
          <div class="boton3">
            <a href="/view/capsules.html"><img id="icon" src="/Storage/img/capsules.svg"><br>Capsules</a>
          </div>
          <div class="boton4">
            <a href="/view/rockets.html"><img id="icon" src="/Storage/img/rocket.svg"><br>Rockets</a>
          </div>
        </div>
      </div>
</body>
</html>